.author__products-wrapper {
    margin-top: 20px;
    padding: 0 20px;
}

.author-name {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
}

.author-title {
    margin-top: 0;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 24px;
    font-weight: 600;
    text-align: center
}

.author-products-toggle {
    display: flex;
    justify-content: center
}

.author-products-toggle__item {
    margin: 0;
    padding-right: 8px;
    margin-right: 16px;
}

.author-products-toggle__button {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 38px;
    height: 40px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid var(--b24-green);
}

.author-products-toggle__button_light {
    background-color: #f0f2f7;
    border-color: #f0f2f7;
    color: #242424;
}

.author-products-toggle__button_gray {
    background-color: #7d8290;
    border-color: #7d8290;
    color: #fff;
}