.page-content {
    padding: 0 16px;
    background: rgb(246, 251, 250);
}

.main-block {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.main-block__headline {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.main-block__books {

}

.books-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.books-list__item {
    width: 190px;
    margin-top: 20px;
    margin-right: 20px;
}

.books-list__item_img {
    width: 190px;
    height: 280px;
    border-radius: 8px;
    cursor: pointer;
}

.books-list__item_info {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    text-decoration: none;
}

.book-name {
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #242424;
}

.book-author {
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: #242424;
}

.book-rating {

}

.book-rating__dig {
    padding-left: 5px;
    font-size: 16px;
}

.main-block__sort-btn
{
    width: 199px;
    height: 37px;
    background: #fff;
    border: 1.34888px solid #c0c0c0;
    border-radius: 7px;
    color: #999;
    padding-left: 9px;
    font-weight: 500;
    font-size: 14px;
}