.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-reg {
    width: 100%;
    max-width: 440px;
    padding: 15px;
    margin: auto;
}

.form-reg__btn {
    width: 52%!important;
}