.personal-data {
    padding-top: 23px;
}

.personal-data__line {
    align-items: start;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    justify-items: stretch;
}

.personal-data__item {
    margin-bottom: 20px;
    width: 100%;
}

.app-input__label {
    font-weight: 400;
}

.app-input__wrapper {
    align-items: center;
    background-color: #fafafa;
    border: 1.5px solid #d3dadf;
    border-radius: 4px;
    cursor: text;
    display: flex;
    height: 48px;
    padding: 0 24px;
}

.app-input__wrapper input {
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 0; 
    background-color: #fafafa;
}

.datepicker__input-wrapper {
    align-items: center;
    background-color: #fafafa;
    border: 1.5px solid #d3dadf;
    border-radius: 4px;
    cursor: text;
    display: flex;
    height: 48px;
    width: 100%;
    background-color: #fafafa;
}

.datepicker__input {
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 0 60px 0 24px;
    width: 100%;
    background-color: #fafafa;
}

.phone-input {
    border: 1px solid #d3dadf;
    border-radius: 4px;
    display: flex;
    height: 52px;
    justify-content: flex-start;
    position: relative;
    width: 100%;
}

.phone-input__input {
    border: none;
    border-radius: 4px;
    color: #0d0c22;
    font-family: Inter,sans-serif;
    font-size: 16px!important;
    line-height: 34px;
    outline: none;
    padding: 0 24px 0 44px;
    width: 100%;
}

.personal-data__submit {
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    margin-top: 8px;
}

.personal-data .personal-data__button {
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 600;
    height: 44px;
    justify-content: center;
    letter-spacing: .04em;
    line-height: 16px;
    padding: 0 24px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    color: #fff;
}

.button.blue {
    background: rgb(34, 83, 120);
    cursor: pointer;
}

.personal-data .personal-data__button {
    display: inline-flex;
    font-size: 14px;
    line-height: 18px;
    min-width: 240px;
    width: auto;
}